@model Jonia0._3.Models.PaqueteViewModel

<h1>Crear</h1>

<h4>Paquete</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="create-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Paquete.Nombre" class="control-label"></label>
                <input asp-for="Paquete.Nombre" class="form-control" />
                <span asp-validation-for="Paquete.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paquete.Descripcion" class="control-label"></label>
                <textarea asp-for="Paquete.Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Paquete.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paquete.Precio" class="control-label">Costo Total</label>
                <input disabled id="total-paquete" asp-for="Paquete.Precio" class="form-control" />
                <span asp-validation-for="Paquete.Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Habitación</label>
                <select id="habitacionsel" class="form-control" data-precio="" asp-items="@(new SelectList(ViewBag.Tipo, "IdHabitacion", "Nombre"))">
                   <option selected disabled>-- Seleccionar --</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Costo Habitación</label>
                <input id="costohab" disabled  class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Servicios</label>
                <select id="serviciosel" class="form-control" asp-items="@(new SelectList(ViewBag.Serv, "IdServicio", "Nombre", "Precio"))">
                    <option selected disabled>-- Seleccionar --</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Costo Servicio</label>
                <input id="costoser" disabled  class="form-control" />
                
            </div>
            <button id="add-service" type="button">Añadir Servicio</button>
            <input type="hidden" name="serviciosSeleccionados" id="serviciosSeleccionados" />
            <table id="servicios-table" class="table-bordered">
                <thead>
                    <tr>
                        <th>Servicio</th>
                        <th>Costo</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Los servicios seleccionados se agregarán aquí -->
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/costosPaquetes.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
