@model Jonia0._3.Models.Reserva


<h1>Editar</h1>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="form-group">
                    <label asp-for="NroDocumentoCliente" class="control-label">Cliente</label>
                    <select asp-for="NroDocumentoCliente" class="form-control" asp-items="ViewBag.Clientes">
                        <option selected disabled>-- Seleccionar --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="NroDocumentoTrabajador" class="control-label">Encargado</label>
                    <select asp-for="NroDocumentoTrabajador" class="form-control" asp-items="ViewBag.Trabajadores">
                        <option selected disabled>-- Seleccionar --</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label asp-for="DetalleReservaServicios" class="control-label">Servicios</label>
                    <select id="serviciosel" size="1" class="form-control" onchange="actualizarTotalPaquete()" asp-items="@(new SelectList(ViewBag.Servicios, "IdServicio", "Nombre"))">
                        <option selected disabled>-- Seleccionar --</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label asp-for="DetalleReservaServicios" class="control-label">Costo</label>
                    <input asp-for="DetalleReservaServicios" id="costoser" disabled placeholder="$" onchange="" class="form-control" />
                </div>
                <div class="form-group col">
                    <button id="add-service" type="button" class="btn btn-dark mt-4 mb-4">Añadir Servicio</button>
                    <input id="serviciosSeleccionados" type="hidden" name="serviciosSeleccionados" />
                </div>
                <div class="col">
                    <table id="servicios-table" class="table table-striped position-relative bottom-50" border="1">
                        <thead>
                            <tr>
                                <th>Servicio</th>
                                <th>Costo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los servicios seleccionados se agregarán aquí -->
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <label asp-for="Informacion" class="control-label">Información</label>
                    <textarea asp-for="Informacion" class="form-control"></textarea>
                    <span asp-validation-for="Informacion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaEntrada" class="control-label">Fecha de Entrada</label>
                    <input type="date" asp-for="FechaEntrada" class="form-control" />
                    <span asp-validation-for="FechaEntrada" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaSalida" class="control-label">Fecha de Salida</label>
                    <input type="date" asp-for="FechaSalida" class="form-control" />
                    <span asp-validation-for="FechaSalida" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumeroPersonas" class="control-label">Número de Personas</label>
                    <input asp-for="NumeroPersonas" class="form-control" />
                    <span asp-validation-for="NumeroPersonas" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MetodoPago" class="control-label">Método de pago</label>
                    <select asp-for="MetodoPago" class="form-control" asp-items="@(new SelectList(ViewBag.Metodo, "IdMp", "Nombre"))">
                        <option selected disabled>-- Seleccionar --</option>
                    </select>
                </div>
            </div>
            <div class="form-group col">
                <label asp-for="Iva" class="control-label"></label>
                <input id="iva" readonly placeholder="$" asp-for="Iva" class="form-control" />
                <span asp-validation-for="Iva" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Subtotal" class="control-label"></label>
                <input id="subtotal-reserva" placeholder="$" readonly asp-for="Subtotal" class="form-control" />
                <span asp-validation-for="Subtotal" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Total" class="control-label"></label>
                <input id="totalreserva" readonly asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <br />
            <div class="row">
                <div class="form-group col">
                    <input type="submit" value="Guardar" class="btn btn-dark mb-3" />
                    <a class="btn btn-secondary mb-3" asp-action="Index">Regresar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <script src="~/js/calculosreservas.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        
    }
}
