
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmar</title>
    <link rel="icon" href="/img/Green_Leaf_Nature_Logo_Design-removebg-preview.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header" style="background-color:#13142a; color:white;"><h3 class="mb-0">Confirmar Correo Electrónico</h3></div>
                    <div class="card-body" style="background-color:#13142a;">
                        @if ((bool)ViewBag.Respuesta)
                        {
                            <div class="alert">
                                <p style="color:white;">Su cuenta dirección de correo electrónico fue confirmada</p>
                                <a class="btn" style="background-color:#666666; color:white;" href="@Url.Action("Login","Inicio")">Ingresar</a>
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-danger">
                                <p style="color:white;">No se pudo confirmar su dirección de correo electrónico</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
