@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Restablcer</title>
	<link href="/css/login.css" rel="stylesheet">
	<link rel="icon" href="/img/Green_Leaf_Nature_Logo_Design-removebg-preview.ico"
</head>
<body>

	<div class="container" id="container">
		<div style="overflow:hidden; max-width:50%; margin-top:18%;">
			@if (ViewBag.Restablecido == null)
			{
				<form action="@Url.Action("Restablecer","Inicio")" method="post">
					<h1>Recuperar contraseña</h1>
					<span>Ingrese su email</span>
					<input type="email" placeholder="Email" name="correo" value="@(ViewBag.Correo !=null? ViewBag.Correo:"")" />
					<button type="submit">Enviar</button>

					@if (ViewBag.Mensaje != null)
					{
						<div>
							@ViewBag.Mensaje
						</div>
					}


				</form>
			}

			else
			{
				<div>
					<p>Su contraseña fue restabeclida</p>
					<a class="" href="@Url.Action("Login","Inicio")">Ingresar</a>
				</div>
			}

		</div>

		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<div> <img src="/img/Green_Leaf_Nature_Logo_Design-removebg-preview.png" style="width:140px; height:auto" alt=""></div>
					<p>¡Sumérgete en la naturaleza con glamour!</p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
