@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quines Somos</title>
    <link href="~/css/home.css" rel="stylesheet" />
    <link rel="icon" href="/img/Green_Leaf_Nature_Logo_Design-removebg-preview.ico"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav class="nav">
            <div class="logo-container">
                <div class="logo">
                    <img src="/img/Green_Leaf_Nature_Logo_Design-removebg-preview.png" alt="Logo del Hotel">
                </div>
            </div>
            <ul class="sombreado">
                <li><a asp-controller="Home" asp-action="Index">Bienvenido</a></li>
                <li><a asp-controller="Home" asp-action="QS">Quienes Somos</a></li>
                <li><a asp-controller="Home" asp-action="Index">Paquetes</a></li>
                <li><a asp-controller="Home" asp-action="Index">Servicios</a></li>
                <li><a asp-controller="Home" asp-action="Index">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section id="quienes_somos_container">

        <div class="quienes">
            <img src="/img/quienes_5.jpg" alt="">
            <h3>¿Quiénes Somos?</h3>
            <p>
                En Jonia, nos dedicamos a ofrecer experiencias únicas que combinan la aventura del camping con el lujo y la comodidad de un
                hotel boutique. Desde nuestro establecimiento, nos esforzamos por brindar a nuestros huéspedes momentos inolvidables en medio de la naturaleza.
            </p>
        </div>

        <div class="que_es">
            <h3>¿Qué es Glamping?</h3>
            <p>
                El glamping es una forma de acampar que combina el lujo y la comodidad de un hotel con la experiencia de estar en contacto con la naturaleza.
                La palabra "glamping" es una fusión de "glamour" y "camping". En lugar de dormir en una tienda de campaña convencional, los glampers se
                alojan en estructuras más lujosas y confortables, como tiendas de campaña equipadas con camas king size, cabañas rústicas o incluso yurtas
                decoradas con estilo. Los glampings suelen ofrecer comodidades adicionales como baños privados, electricidad, calefacción y, en algunos casos,
                servicios de spa y cocina gourmet. Es una opción popular para quienes desean disfrutar de la naturaleza sin renunciar a las comodidades modernas.
            </p>
        </div>

        <div class="historia">
            <img src="/img/quienes_2.jpg" alt="">
            <h3>Nuestra Historia</h3>
            <p>
                Jonia nació de la pasión por la naturaleza y el deseo de proporcionar una alternativa única para aquellos que buscan escapar de la rutina
                diaria y conectar con el entorno natural. Fundada en [año de fundación], nuestra empresa se ha comprometido a ofrecer una experiencia de
                glamping excepcional, marcada por la calidad, la atención al detalle y el servicio excepcional.
            </p>
        </div>

        <div class="mision">
            <img src="/img/quienes_3.jpg" alt="">
            <h3>Nuestra Misión</h3>
            <p>
                En Jonia, nuestra misión es crear momentos inolvidables para nuestros huéspedes, ofreciendo una combinación perfecta de lujo,
                confort y aventura en entornos naturales espectaculares. Nos esforzamos por superar las expectativas de nuestros huéspedes en cada aspecto de
                su estancia, desde el alojamiento hasta las actividades y servicios adicionales.
            </p>
        </div>

        <div class="compromiso">
            <img src="/img/quienes_4.jpg" alt="">
            <h3>Nuestro Compromiso</h3>
            <p>
                Estamos comprometidos con la sostenibilidad y la preservación del medio ambiente. Nos esforzamos por operar de manera responsable,
                minimizando nuestro impacto ambiental y apoyando iniciativas locales de conservación. Además, nos comprometemos a brindar un entorno seguro y
                acogedor para todos nuestros huéspedes, promoviendo la diversidad, la inclusión y el respeto mutuo.
            </p>
        </div>

        <div class="equipo">
            <img src="/img/quienes_1.jpg" alt="">
            <h3>Nuestro Equipo</h3>
            <p>
                En Jonia, contamos con un equipo apasionado y dedicado que trabaja incansablemente para garantizar la satisfacción de
                nuestros huéspedes. Desde nuestro personal de recepción hasta nuestros guías de actividades y chefs, cada miembro de nuestro equipo está
                comprometido con brindar una experiencia excepcional y hacer que su estancia sea inolvidable.
            </p>
        </div>

    </section>

</body>
</html>
