<style>
    body {
        background-color: #f8f9fa; /* Gris claro */
        color: #333; /* Gris oscuro */
        font-family: 'Arial', sans-serif;
    }
    .welcome-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        text-align: center;
    }

    .welcome-message {
        background: rgba(255, 255, 255, 0.8); /* Blanco con transparencia */
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }
</style>
    <div class="container welcome-container">
        <div class="row">
            <div class="col-md-12 welcome-message">
                <h1>Bienvenidos a Jonia</h1>
                <h5>Un lugar de armonía con la naturaleza.</h5>
            </div>
        </div>
    </div>
